.heading
{
    font-size: 22px;
    width: 100%;
    margin: 0px;
    box-shadow: 8px 8px 8px grey;
}

.note
{
    font-size: 15px;
    color: rgb(9, 148, 90)
}

.copy_right_footer
{
    position: fixed;
    color: rgb(77, 0, 165);
    bottom: 0;
    width: 100%;
    border-color: green;
    line-height: 3;
    text-align: center;
    background-color: aqua;
}

canvas
{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px 5px 5px red;
}